* {
  background-color: #C4B1AE
}
.headerCont {
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: center; 
}
.title {
  background-color: #BFB59E;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 55px;
}
.head {
  height: 14vh;
  background-color: #B4ADA3;
  flex-grow: 1;
  border: 2px solid black;
}
.search {
  /* margin-left: 38vw; */
  background-color: white;
  border: 1px solid red;
  border-radius: 7px;
  
}
.logoCont {
  display: flex;
  flex-direction: row;
  height: 14vh;
  background-color: white;
  align-items: center;
  border: 2px solid black;
}
.logos {
  background-color: white;
}
.recipeWrapper {
  display: inline-block;
  border: 2px solid black;
  width: 25vw;
  text-align: center;
  margin-top: 5vh;
  margin-left: 5vw;
  border-radius: 5px;
}
.recipeTitle {
  text-decoration: underline;
}
.recipeText {
  display: flex;
  flex-direction: column;
}
.faveHead {
  display: flex;
  height: 14vh;
  background-color: #CAB7A2;
  flex-grow: 1;
  border: 2px solid black;
  margin-top: 5vh;
  justify-content: center;
  align-items: center;
}
.faveTitle {
  background-color: #CAB7A2;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 55px;
}
.sigCont {
  display: flex;
  justify-content: center;
}
.sig {
  text-align: center;
  background-color: black;
  color: white;
  height: 3vh;
  flex-grow: 1;
  margin-bottom: 0;
}
.buttons {
  background-color: rgb(16, 141, 16);
  margin-left: 7.5vw;
  width: 10vw;
  margin-bottom: 2vh; 
  border-radius: 7px;
}
.link {
  margin-bottom: 2vh;
}
.recipeImg {
  border: 1px solid black;
}
.ingredients {
  background-color: white;
}
.favInput {
  background-color: white;
  margin-bottom: 2vh;
  margin-top: 2vh;
}
.buttDelet {
  background-color: rgb(131, 32, 32);
  margin-left: 7.5vw;
  width: 10vw;
  margin-bottom: 2vh; 
  border-radius: 7px; 
}
.searchCont {
  margin-left: 41.85vw;
}