* {
  background-color: #999999;
}
.headerCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.title {
  background-color: white;
  text-align: center;
}
.head {
  height: 14vh;
  background-color: white;
  flex-grow: 1;
  border: 2px solid black;
}
.logoCont {
  display: flex;
  flex-direction: row;
  height: 14vh;
  background-color: white;
  align-items: center;
  border: 2px solid black;
}
.logos {
background-color: white;
}


